
/*Edit this file.  Just add code below add.  Don't make any changes to current code*/
/*Refer to Lab2.js for instructions. 
Instruction is given from top to bottom, so 
1. Edit TopLeft
2. Edit Topright
3. Edit BottomLeft
4. Edit BottomRight*/


#targetTopLeft{
    position:absolute;
    width:8px;
    height:50px;
    top:22px;
    height:50px;
    background:black;    
    /*Add Code Here:*/

}

#targetTopRight{
    position:absolute;
    width:8px;
    left:60px;
    top:32px;
    background:rgb(0, 0, 0);
     /*Add Code Here:*/


}

#targetBottomLeft{
   position:absolute;
    width:8px;
    height:50px;
    left:60px;
    top:22px;
    height:50px;
    /*Add Code Here:*/

}

#targetBottomRight{
    position:absolute;
    width:8px;
    height:30px;
    left:60px;
    top:54px;
    background:black;
    /*Add Code Here:*/

}
